<div class="component-holder ng-scope" data-component="crn-rating" id="crn-rating-${RANDON}">
    <cronapp-rating ng-model="vars.evaluation${RANDOM}" icon-off="fa fa-star-o" icon-on="fa fa-star" xattr-default-value="">
        <i icon-theme="color-theme" icon-size="font-size-20" class="color-theme font-size-20"></i>
        <i icon-theme="color-theme" icon-size="font-size-20" class="color-theme font-size-20"></i>
        <i icon-theme="color-theme" icon-size="font-size-20" class="color-theme font-size-20"></i>
        <i icon-theme="color-theme" icon-size="font-size-20" class="color-theme font-size-20"></i>
        <i icon-theme="color-theme" icon-size="font-size-20" class="color-theme font-size-20"></i>
    </cronapp-rating>
</div>